


html {
    background: url(book_wallpaper.png) no-repeat center fixed;
    background-size: cover;
  }

html body{
    overflow-y: auto;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(46, 37, 83, 0.267);
}

.navbar-brand {
    font-weight: bold;
    font-size: 6.25em;
    padding-left: .5vw;
}

.navbar-nav li {
    padding-right: 2vw;
}

.search-container {
    position: relative;
    z-index: 1;
}

#welcome {
    font: 'Poppins';
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-10%, -10%);
}

#welcome span {
    position: relative;
    right: 3.5vw;
    font-size: 5em;
}

#welcome button {
    width: 130px;
    margin-top: 1vh;
}

#login-content {
    background-image: url('login_bg.jpg');
}

.modal-body {
    backdrop-filter: blur(5px);
    background-color: rgba(46, 37, 83, 0.267);
}

.modal-body h3 {
    margin: 0 auto;
}

#login-close {
    position: fixed;
    left: 92%;
}

.modal-content #email {
    margin-top: 2vh;
}

#login-login {
    backdrop-filter: blur(5px);
    background-color: rgba(87, 76, 130, 0.267);
}

#register-content {
    background-image: url('signup_bg.jpg');
}

#signup-signup {
    backdrop-filter: blur(5px);
    background-color: rgba(62, 129, 142, 0.267);
}

#search-form {
    width: 40vw;
    position: fixed;
    top: 10vh;
    left: 30vw;
}

#content-panel {
    position: fixed;
    top: 20vh;
    left: 30vw;
}

#results-list {
    position: fixed;
    top: 25vh;
    left: 30vw;
}